.nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    text-align: center;
  }
  
  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-right: 10px;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }